
<link href="/public/css/register.css" rel="stylesheet" type="text/css"/>

<div class="aw-register-box">
    <div class="mod-head"></div>
       {{msg}} <a href="{{href}}">{{info}}</a>
    <div class="mod-footer"></div>
</div>
